{#
/**
 * @file
 * Default theme implementation to display an item in a views RSS feed.
 *
 * Available variables:
 * - title: RSS item title.
 * - link: RSS item link.
 * - description: RSS body text.
 * - item_elements: RSS item elements to be rendered as XML (pubDate, creator,
 *   guid).
 *
 * @see template_preprocess_views_view_row_rss()
 *
 * @ingroup themeable
 */
#}
<item>
  <title>{{ title -}}</title>
  <link>{{ link -}}</link>
  <description><![CDATA[{{ description -}}]]></description>
  {% for item in item_elements -%}
    <{{ item.key -}}{{ item.attributes -}}
    {% if item.value -%}
      {% if item.cdata -%}
        ><![CDATA[{{ item.value|replace({ ']]>': ']]]]><![CDATA[>' })|raw -}}]]></{{ item.key -}}>
      {% else -%}
        {% if item.escaped -%}
          >{{ item.value|raw -}}</{{ item.key -}}>
        {% else -%}
          {% if item.value is iterable %}
            >{{ item.value|render -}}</{{ item.key -}}>
          {% else -%}
            >{{ item.value -}}</{{ item.key -}}>
          {% endif -%}
        {% endif -%}
      {% endif -%}
    {% else -%}
      {{ ' />' -}}
    {% endif -%}
  {%- endfor -%}
</item>
